---
eleventyNavigation:
  title: Contact
  order: 100
---

<div style="text-align: center">
  <h1>Contact</h1>
  ✉️ Mail
  <div>
  <a href="mailto:contact@tousdanslememebateau.net">
    contact@tousdanslememebateau.net
  </a>
  </div>

  <div style="margin-top: 2rem;">
    📞 Téléphone
    <div><a href="tel:+33695983026">
      +336 95 98 30 26
    </a></div>
  </div>
</div>
